<!-- assistant_detail.html -->
{% extends "base.html" %}
{% load custom_filters %}

{% block content %}

<!-- Assistant Forms -->
<div class="container mt-5" id="assistant-group-form">
    <div class="row">
        <div class="col-md-6">
            <h2>Assistant Group Form</h2>
            {% if selected_asssistant_group%}
            <form method="post" action="{% url 'assistant_group_detail' assistant_id=selected_assistant_group.id %}" class="needs-validation" novalidate>
            {% else %}
            <form method="post" action="{% url 'manage_assistant_groups' %}" class="needs-validation" novalidate>
            {% endif %}
                {% csrf_token %}
                    <!-- Assistant Group Form -->
                <div class="form-group">
                    {{ assistant_group_form.as_p }}
                </div>
                {% if assistant_group_id %}
                <!-- Save Button Form -->
                <form action="{% url 'edit_assistant_group' assistant_group_id %}" method="POST" class="save-form mr-2">
                    {% csrf_token %}
                    <input type="hidden" name="assistant_group_id" value="{{ assistant_group_id }}">
                    <input type="hidden" name="_method" value="save">
                    <input type="hidden" name="action" value="save">
                    <input type="hidden" name="save_form" value="assistant_group_form">

                    <button type="submit" class="btn btn-primary" onclick="return confirm('Are you sure you want to save this content?');">Save</button>
                </form>
                {% else %}
                <!-- Create Button Form -->
                <form action="{% url 'manage_assistant_groups' %}" method="POST" class="save-form mr-2">
                    {% csrf_token %}
                    <input type="hidden" name="_method" value="save">
                    <input type="hidden" name="action" value="save">
                    <input type="hidden" name="save_form" value="assistant_group_form">

                    <button type="submit" class="btn btn-primary" onclick="return confirm('Are you sure you want to save this content?');">Create</button>
                </form>
                {% endif %}
            </form>
        </div>

    </div>


<h2>Assistant Group Membership Form</h2>
<form method="post" action="{% url 'manage_assistant_group_memberships' %}" class="needs-validation" novalidate>
    {% csrf_token %}
    <div class="form-group">
        {{ assistant_group_membership_form.as_p }}
    </div>
    <input type="hidden" name="assistant_group_id" value="{{ assistant_group.id }}">
    <button type="submit" class="btn btn-primary" onclick="return confirm('Are you sure you want to save this content?');">Add Assistant</button>
</form>
<ol>
    {% for membership in assistant_group.assistantgroupmembership_set.all %}
        <li>
            Position {{ membership.position }}: {{ membership.assistant.name }}
        </li>
    {% empty %}
        <li>No assistants in this group.</li>
    {% endfor %}
</ol>

<!-- Assistant Group List -->
<div class="container mt-5">
    <h2>Assistant Group List</h2>
    <table class="table">
        <thead>
            <tr>
                {% for field in fields %}
                    {% if field.name in display_fields %}
                        <th>{{ field.verbose_name }}</th>
                    {% endif %}
                {% endfor %}
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
            {% for group in assistant_groups_info %}
                <tr>
                    {% for field in fields %}
                       {% if field.name in display_fields %}
                         <td>{{ group|get_field_value:field.name|truncate_chars:1024 }}</td>
                       {% endif %}
                {% endfor %}
                    <td>
                        <a href="{% url 'assistant_group_detail' group.id %}" class="btn btn-primary">View</a>
                        <!-- Add more actions as needed -->
                    </td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
</div>
{% endblock %}