<!-- assistant_group_detail.html -->
{% extends "base.html" %}
{% load custom_filters %}

{% block content %}
<div class="container">
    <h2>Assistant Group Form</h2>
    {% if assistant_group_id %}
        <form method="post" action="{% url 'assistant_group_detail' assistant_group_id=assistant_group.id %}">
    {% else %}
        <form method="post" action="{% url 'manage_assistant_groups' %}">
    {% endif %}
        {% csrf_token %}
        <div class="mb-3">
            {{ assistant_group_form.name.label_tag }}
            {{ assistant_group_form.name }}
        </div>
        <div class="mb-3">
            {{ assistant_group_form.group_type.label_tag }}
            {{ assistant_group_form.group_type }}
        </div>

        <h3>Assistant Group Members</h3>
        {{ assistant_group_formset.management_form }}
        <table class="table" id="formset">
            <thead>
                <tr>
                    <th>ID</th>
                    <th>Assistant</th>
                    <th>Position</th>
                    <th>Delete?</th>
                </tr>
            </thead>
            <tbody>
                {% for form in assistant_group_formset.forms %}
                    <tr class="formset-row">
                        <td>{{ form.id }}</td>
                        <td>{{ form.assistants }}</td>
                        <td>{{ form.position }}</td>
                        <td>{{ form.DELETE }}</td>
                        </td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
        <div class="d-grid gap-2">
        {% if assistant_group_id %}
            <!-- Save Button Form -->
            <form action="{% url 'edit_assistant_group' assistant_group_id %}" method="POST" class="save-form mr-2 d-grid gap-2">
                {% csrf_token %}
                <input type="hidden" name="assistant_group_id" value="{{ assistant_group_id }}">
                <input type="hidden" name="_method" value="save">
                <input type="hidden" name="action" value="save">
                <input type="hidden" name="save_form" value="assistant_group_form">

                <button type="submit" class="btn btn-primary" onclick="return confirm('Are you sure you want to save this Group?');">Save</button>
            </form>
            <!-- Delete Button Form -->
            <form action="{% url 'delete_assistant_group' assistant_group_id %}" method="POST" class="delete-form mr-2 d-grid gap-2">
                {% csrf_token %}
                <input type="hidden" name="assistant_group_id" value="{{ assistant_group_id }}">
                <input type="hidden" name="_method" value="delete">
                <input type="hidden" name="action" value="delete">
                <input type="hidden" name="delete_form" value="assistant_group_form">

                <button type="submit" class="btn btn-danger" onclick="return confirm('Are you sure you want to delete this Group?');">Delete</button>
            {% else %}
            <!-- Create Button Form -->
            <form action="{% url 'manage_assistant_groups' %}" method="POST" class="save-form mr-2 d-grid gap-2">
                {% csrf_token %}
                <input type="hidden" name="_method" value="save">
                <input type="hidden" name="action" value="save">
                <input type="hidden" name="save_form" value="assistant_group_form">

                <button type="submit" class="btn btn-primary" onclick="return confirm('Are you sure you want to save this content?');">Create</button>
            </form>    
        {% endif %}
        </div>
    </form>
    <br>

<!-- Assistant Group List -->
<div class="container mt-5">
    <h2>Assistant Groups</h2>
    <table class="table">
        <thead>
            <tr>
                {% for field in fields %}
                    {% if field.name in display_fields %}
                        <th>{{ field.verbose_name }} <input type="text" class="filter" placeholder="Filter..." /></th>
                    {% endif %}
                {% endfor %}
            </tr>
        </thead>
        <tbody>
            {% for group in assistant_groups_info %}
            <tr onclick="window.location.href='{% url 'assistant_group_detail' group.id %}'" style="cursor: pointer;">
                    {% for field in fields %}
                        {% if field.name in display_fields %}
                            <td>{{ group|get_field_value:field.name|truncatechars:1024 }}</td>
                        {% endif %}
                    {% endfor %}
                </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
{% endblock %}
