<!-- assistant_detail.html -->
{% extends "base.html" %}
{% load custom_filters %}

{% block content %}

{% comment %} 
TODO: Add assistant cloning capability.
TODO: Add truncated assistant id. Last 4 characters

{% endcomment %}

<!-- Assistant Forms -->
<div class="container" id="assistant-form">
    <div class="row">
        <div class="col">
            <h2>Assistant Form</h2>
            {% if selected_asssistant%}
            <form method="post" action="{% url 'assistant_detail' assistant_id=selected_assistant.id %}" class="needs-validation">
            {% else %}
            <form method="post" action="{% url 'manage_assistants' %}" class="needs-validation">
            {% endif %}
                {% csrf_token %}
                    <!-- Assistant Form -->
                <div class="form-group">
                    {{ assistant_form.as_p }}
                </div>

                <div class="d-grid gap-2">
                {% if assistant_id %}
                    <!-- Save Button Form -->
                    <form action="{% url 'edit_assistant' assistant_id %}" method="POST" class="save-form mr-2 d-grid gap-2">
                        {% csrf_token %}
                        <input type="hidden" name="assistant_id" value="{{ assistant_id }}">
                        <input type="hidden" name="_method" value="save">
                        <input type="hidden" name="action" value="save">
                        <input type="hidden" name="save_form" value="assistant_form">

                        <button type="submit" class="btn btn-primary" onclick="return confirm('Are you sure you want to save this content?');">Save</button>
                    </form>
                    <!-- Delete Button Form -->
                    <form action="/assistants/delete/{{ assistant.id }}/" method="post" class="delete-form mr-2 d-grid gap-2">
                        {% csrf_token %}
                        <input type="hidden" name="assistant_id" value="{{ assistant.id }}">
                        <input type="hidden" name="_method" value="delete">
                        <input type="hidden" name="action" value="delete">
                        <button type="submit" class="btn btn-danger" onclick="return confirm('Are you sure you want to delete this content?');">Delete</button>
                    </form>
                    {% else %}
                    <!-- Create Button Form -->
                    <form action="{% url 'manage_assistants' %}" method="POST" class="save-form mr-2 d-grid gap-2">
                        {% csrf_token %}
                        <input type="hidden" name="_method" value="save">
                        <input type="hidden" name="action" value="save">
                        <input type="hidden" name="save_form" value="assistant_form">

                        <button type="submit" class="btn btn-primary" onclick="return confirm('Are you sure you want to save this content?');">Create</button>
                    </form>
                {% endif %}
                </div>
            </form>
        </div>
    </div>
</div>
            
<!-- Assistant list -->
<div class="container mt-5">
    {% load custom_filters %}
    
    <h2>Assistant List</h2>
        <table class="table">
            <thead>
                <tr>
                    {% for field in fields %}
                        {% if field.name in display_fields %}
                            <th>{{ field.verbose_name }}</th>
                        {% endif %}
                    {% endfor %}
                </tr>
            </thead>
            <tbody>
                {% for assistant in assistants_info %}
                    <tr onclick="window.location.href='{% url 'assistant_detail' assistant.id %}'" style="cursor: pointer;">
                        {% for field in fields %}
                            {% if field.name in display_fields %}
                                <td>{{ assistant|get_field_value:field.name|truncate_chars:1024 }}</td>
                            {% endif %}
                        {% endfor %}
                    </tr>
                {% endfor %}
            </tbody>
        </table>
</div>

{% endblock %}