{% extends "base.html" %}
{% load custom_filters %}
{% load markdownify %}
{% load martortags %}

{% load static %}

{% block css %}
  <link href="{% static 'plugins/css/ace.min.css' %}" type="text/css" media="all" rel="stylesheet" />
  <link href="{% static 'plugins/css/resizable.min.css' %}" type="text/css" media="all" rel="stylesheet" />
  <link href="{% static 'martor/css/martor.bootstrap.min.css' %}" type="text/css" media="all" rel="stylesheet" />
{% endblock %}


{% block content %}

{% if post.id %}
<div class="container mt-5">
    <h2>Editing: {{ post.id }}</h2>
    <form method="post" action="{% url 'manage_post' %}" class="needs-validation" novalidate>
        {% csrf_token %}
        {{ form_post_frontmatter.as_p }}
        {{ form_post.as_p}}

        <!-- Save Button Form -->
        <form action="{% url 'edit_post' post.id %}" method="POST" class="save-form mr-2">
            {% csrf_token %}
            <input type="hidden" name="post_id" value="{{ post.id }}">
            <input type="hidden" name="_method" value="save">
            <input type="hidden" name="action" value="save">
            <button type="submit" class="btn btn-primary" onclick="return confirm('Are you sure you want to save this content?');">Save</button>
        </form>
        <!-- Publish Button Form -->
        <form action="{% url 'publish_post' post.id %}" method="POST" class="publish-form mr-2">
            {% csrf_token %}
            <input type="hidden" name="post_id" value="{{ post.id }}">
            <input type="hidden" name="_method" value="publish">
            <input type="hidden" name="action" value="publish">
            <button type="submit" class="btn btn-primary" onclick="return confirm('Are you sure you want to save this content?');">publish</button>
        </form>
    </form>
</div>
{% endif %}


<!-- Post List -->
<div class="container mt-5">
    <h2>Post List</h2>
    <table class="table" id="post-table">
        <thead>
            <tr>
                {% for field in fields %}
                    {% if field.name in display_fields %}
                        <th>{{ field.verbose_name }}</th>
                    {% endif %}
                {% endfor %}
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
            {% for post in post_list %}
            <tr>s
                {% for field in fields %}
                    {% if field.name in display_fields %}
                    <td>{{ post|get_field_value:field.name }}</td>
                    {% endif %}
                {% endfor %}
                <td>
                     <div class="d-flex justify-content-end">
                        <!-- view Button Form -->
                        <form action="{% url 'post_detail' post.id %}" method="GET" class="view-form mr-2">
                            <input type="hidden" name="post_id" value="{{ post.id }}">
                            <input type="hidden" name="_method" value="get">
                            <button type="submit" class="btn btn-primary" >view</button>
                        </form>
                        <!-- Delete Button Form -->
                        <form action="{% url 'delete_post' post.id %}" method="POST" class="delete-form mr-2">
                            {% csrf_token %}
                            <input type="hidden" name="post_id" value="{{ post.id }}">
                            <input type="hidden" name="_method" value="delete">
                            <input type="hidden" name="action" value="delete">
                            <button type="submit" class="btn btn-danger" onclick="return confirm('Are you sure you want to delete this content?');">Delete</button>
                        </form>
                    </div>
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>

    
    {% endblock content %}

    <!-- JS -->

{% block js %}
  <script type="text/javascript" src="{% static 'plugins/js/ace.js' %}"></script>
  <script type="text/javascript" src="{% static 'plugins/js/mode-markdown.js' %}"></script>
  <script type="text/javascript" src="{% static 'plugins/js/ext-language_tools.js' %}"></script>
  <script type="text/javascript" src="{% static 'plugins/js/theme-github.js' %}"></script>
  <script type="text/javascript" src="{% static 'plugins/js/typo.js' %}"></script>
  <script type="text/javascript" src="{% static 'plugins/js/spellcheck.js' %}"></script>
  <script type="text/javascript" src="{% static 'plugins/js/highlight.min.js' %}"></script>
  <script type="text/javascript" src="{% static 'plugins/js/resizable.min.js' %}"></script>
  <script type="text/javascript" src="{% static 'plugins/js/emojis.min.js' %}"></script>
  <script type="text/javascript" src="{% static 'martor/js/martor.bootstrap.min.js' %}"></script>
{% endblock %}
