{% extends 'base.html' %}
{% load markdownify %}

{% block content %}
<div class="container">
    <h2>Threads</h2>

    <!-- Thread list -->
     <div class="mb-3">
         <ul class="list-group" id="threads-list">
             {% for thread in threads %}
             <li class="list-group-item d-flex justify-content-between align-items-center">
                 <a href="{% url 'thread_detail' thread.thread_id %}">{{ thread.thread_id }}</a>
                 <form action="{% url 'delete_thread' thread.thread_id %}" method="post">
                     {% csrf_token %}
                     <button type="submit" class="btn btn-danger btn-sm">Delete</button>
                </form>
            </li>
            {% endfor %}
        </ul>
    </div>

    {% if current_thread %}
    <h2>Selected Thread</h2>
    <div class="list-group" id="messages-list">
        <h3>Thread ID: {{ current_thread.thread_id }}</h3>
        <table class="table">
            <thead>
                <tr>
                    {% for field in fields %}
                        {% if field.name in display_fields %}
                            <th>{{ field.verbose_name }} <input type="text" class="filter" placeholder="Filter..." /></th>
                        {% endif %}
                    {% endfor %}
                </tr>
            </thead>
            <tbody>
                {% for message in thread_messages %}
                <tr>
                    <td>{{ message.id }}</td>
                    <td>{{ message.contentitem.content_text|markdownify|linebreaksbr }}</td>
                    <td>
                        <!-- Form to add message to database -->
                        <form action="{% url 'add_message_to_db' %}" method="post">
                            {% csrf_token %}
                            <input type="hidden" name="thread_id" value="{{ current_thread.thread_id }}">
                            <input type="hidden" name="assistant_id" value="{{ message.assistant_id }}">
                            <input type="hidden" name="message_id" value="{{ message.id }}">
                            <input type="hidden" name="message_content" value="{{ message.text }}">
                            <button type="submit" class="btn btn-primary btn-sm">Add to Database</button>
                        </form>
                    </td>
                </tr>
                {% empty %}
                <tr>
                    <td colspan="{{ display_fields|length }}">No messages found for this thread.</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
        {% endif %}
    </div>
</div>
{% endblock %}