-r src/requirements.txt

# Global Requirements
django-environ

# Cookiecutter Support
cruft
pip-tools

# Testing Tools
pytest
pytest-django
pytest-playwright
coverage
pytest-cov
axe-playwright-python
selenium
beautifulsoup4
requests

# Linters
ruff

# Documentation
sphinx
sphinx-autodoc-typehints
sphinx-rtd-theme