<!-- footer.html -->
<div class="container-xl">
    <div class="row py-4">
        <!-- Copyright and Branding -->
        <div class="col-md-6 d-flex align-items-center">
            <span class="text-muted">
                &copy; {{ now|date:"Y" }} Barody Broject
            </span>
        </div>

        <!-- Frameworks/Engines and Affiliations -->
        <div class="col-md-6">
            <ul class="nav justify-content-md-end list-unstyled d-flex align-items-center">
                <li class="me-3">
                    <span class="text-muted">Powered by:</span>
                </li>
                {% for power in powered_by %}
                    <li class="nav-item">
                        <a class="nav-link text-muted" href="{{ power.url }}" rel="nofollow noopener" target="_blank" title="{{ power.name }}">
                            <i class="bi bi-{{ power.icon }}" aria-hidden="true"></i>
                            <span class="d-none d-lg-inline ms-1">{{ power.name }}</span>
                        </a>
                    </li>
                {% endfor %}
                <!-- RSS Feed -->
                {% comment %}
                <li class="nav-item">
                    <a class="nav-link text-muted" href="/feed.xml" title="RSS Feed">
                        <i class="bi bi-rss" aria-hidden="true"></i>
                        <span class="d-none d-lg-inline ms-1">Feed</span>
                    </a>
                </li>
                {% endcomment %}
            </ul>
        </div>
    </div>
</div>