<!-- assistant_detail.html -->
{% extends "base.html" %}

{% block content %}
<div class="container mt-5">
    <!-- Assistant Creation Form -->
    <h1>Create an Assistant</h1>
    <form method="post" class="needs-validation" novalidate>
        {% csrf_token %}
        <div class="form-group">
            {{ form.as_p }}
            <button type="submit" name="_method" value="save" class="btn btn-primary">Save</button>
        </div>
        {% if is_edit %}
        <button type="submit" class="btn btn-primary">Update</button>
        <a href="{% url 'manage_assistants' %}" class="btn btn-success">
            Create New Assistant
        </a>
        {% else %}
        <button type="submit" class="btn btn-primary">Create</button>
        {% endif %}
    </form>
</div>

    <div class="container mt-5">
        <!-- Additional section to list other assistants in a table format -->
        <h2>All Assistants</h2>
        {% if assistants_info %}
            <table class="table">
                <thead>
                    <tr>
                        <th>Name</th>
                        <th>Description</th>
                        <th>Model</th>
                        <th>ID</th>
                        <th>Actions</th>
                    </tr>
                </thead>
                <tbody>
                    {% for assistant in assistants_info %}
                        <tr>
                            <td ><a href="{% url 'manage_assistants' %}">{{ assistant.name }}
                            </a></td>
                            <td>{{ assistant.description }}</td>
                            <td>{{ assistant.model }}</td>
                            <td>{{ assistant.assistant_id }}</td>
                            <td>
                                <!-- Delete button form -->
                                <form action="/assistants/delete/{{ assistant.assistant_id }}/" method="post">
                                    {% csrf_token %}
                                    <button type="submit" class="btn btn-danger">Delete</button>
                                </form>
                            </td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        {% else %}
            <p>No other assistants found.</p>
        {% endif %}
    </div>

{% endblock %}