<!-- assistant_detail.html -->
{% extends "base.html" %}
{% load custom_filters %}



{% block content %}

<!-- Assistant Form -->
<div class="container mt-5" id="assistant-form">
    <h2>Assistant Form</h2>
    {% if selected_asssistant%}
    <form method="post" action="{% url 'assistant_detail' assistant_id=selected_assistant.id %}" class="needs-validation" novalidate>
    {% else %}
    <form method="post" action="{% url 'manage_assistants' %}" class="needs-validation" novalidate>
    {% endif %}
        {% csrf_token %}
        <div class="row">
            <!-- Assistant Form -->
            <div class="col-md-6">
                <div class="form-group">
                    {{ assistant_detail_form.as_p }}
                </div>
            </div>
        <div class="form-group">
            {{ form.as_p }}
            <button type="submit" name="_method" value="save" class="btn btn-primary">Save</button>
        </div>
        <button type="submit" name="_method" value="create" class="btn btn-primary">Create</button>
    </form>
</div>

<!-- Assistant list -->
<div class="container mt-5">
    {% load custom_filters %}
    
    <h2>Assistant List</h2>
        <table class="table">
            <thead>
                <tr>
                    {% for field in fields %}
                        {% if field.name in display_fields %}
                            <th>{{ field.verbose_name }}</th>
                        {% endif %}
                    {% endfor %}
                    <th>Actions</th>
                </tr>
            </thead>
            <tbody>
                {% for assistant in assistants_info %}
                    <tr>
                        {% for field in fields %}
                            {% if field.name in display_fields %}
                                <td>{{ assistant|get_field_value:field.name }}</td>
                            {% endif %}
                        {% endfor %}
                        <td>
                            <!-- Delete button form -->
                            <form action="/assistants/delete/{{ assistant.id }}/" method="post">
                                {% csrf_token %}
                                <button type="submit" class="btn btn-danger">Delete</button>
                            </form>
                            <!-- Edit button -->
                            <a href="/assistants/edit/{{ assistant.id }}/" class="btn btn-primary">Edit</a>
                        </td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
</div>

{% endblock %}