{% extends 'base.html' %}
{% block content %}

    <div class="container mt-5">
        <h1>Welcome to the Parody News Generator</h1>
        <p>This is the root index page. Use the links below to navigate through the application.</p>
        <div class="list-group">
            <a href="/roles/" class="list-group-item list-group-item-action">Create/View System Roles</a>
            <a href="/content/" class="list-group-item list-group-item-action">Create/View Content</a>
            <a href="/assistants/" class="list-group-item list-group-item-action">Manage/View Assistants</a>
            <!-- <a href="/create_post/" class="list-group-item list-group-item-action">Create New Post</a> -->
            <a href="/messages/" class="list-group-item list-group-item-action">View Messages</a>
            <a href="/admin/" class="list-group-item list-group-item-action">Admin</a>
            <!-- Add more links as needed -->
        </div>
    </div>

{% endblock %}