{% extends "base.html" %}
{% load markdownify %}

{% block content %}
<div class="container mt-4">
    <h2>Messages</h2>

    <!-- Message List -->
    <div class="mb-3">
        <table class="table" id="messages-table">
            <thead>
                <tr>
                    <th>ID</th>
                    <th>Content Detail Title</th>
                    <th>Assistant Assignment</th>
                    <th>Actions</th>
                </tr>
            </thead>
            <tbody>
                {% for message in message_list %}
                <tr>
                    <td>
                        <a href="{% url 'message_detail' message.message_id %}">{{ message.message_id }}</a>
                    </td>
                    <td>
                        {{ message.content_detail.title }}
                    </td>
                    <td>
                        <form action="{% url 'assign_assistant_to_message' message.message_id %}" method="post">
                            {% csrf_token %}
                            <div class="input-group">
                                <select name="assistant_id" class="form-select">
                                    <option value="">Select Assistant</option>
                                    {% for assistant in assistants %}
                                        <option value="{{ assistant.assistant_id }}" {% if message.assistant_id == assistant.assistant_id %}selected{% endif %}>{{ assistant.name }}</option>
                                    {% endfor %}
                                </select>
                                <button class="btn btn-outline-secondary" type="submit">Assign</button>
                            </div>
                        </form>
                    </td>
                    <td>
                        <div class="d-flex justify-content-end">
                            <!-- Delete Button Form -->
                            <form action="{% url 'delete_message' message.message_id %}" method="post" class="mr-2">
                                {% csrf_token %}
                                <button type="submit" class="btn btn-danger" onclick="return confirm('Are you sure you want to delete this message?');">Delete</button>
                            </form>
                            <!-- Run Message Button Form -->
                            <form action="{% url 'run_message' message.message_id %}" method="post">
                                {% csrf_token %}
                                <input type="hidden" name="assistant_id" value="{{ message.assistant_id }}">
                                <button type="submit" class="btn btn-primary">Run Message</button>
                            </form>
                        </div>
                    </td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>

    {% if current_message %}
    <h2>Selected Message</h2>
    <div class="list-group" id="message-list">
        <h3>Message ID: {{ current_message.message_id }}</h3>
        <br>
            <div class="list-group-item list-group-item-action flex-column align-items-start">
                <div class="d-flex w-100 justify-content-between">
                    <h5 class="mb-1">Thread ID: <br>{{ current_message.thread_id }}</h5>
                    <small>Created At: <br>{{ current_message.created_at }}</small>
                </div>
                <p class="mb-1">{{ current_message.content.content|markdownify|linebreaksbr }}</p>
                <!-- Assign Assistant Form -->
            </div>
        {% else %}
            <p>No messages found.</p>
        {% endif %}
    </div>
</div>
{% endblock %}