{% extends "base.html" %}
{% load markdownify %}

{% block content %}
<div class="container mt-4">
    <h2>Messages</h2>
    <div class="list-group">
        {% if message_list %}
            {% for message in message_list %}
                <div class="list-group-item list-group-item-action flex-column align-items-start">
                    <div class="d-flex w-100 justify-content-between">
                        <h5 class="mb-1">Thread ID: {{ message.thread_id }}</h5>
                        <small>Created At: {{ message.created_at }}</small>
                    </div>
                    <p class="mb-1">{{ message.content.content|markdownify|linebreaksbr }}</p>
                    <!-- Assign Assistant Form -->
                    <form action="{% url 'assign_assistant_to_message' message.message_id %}" method="post" class="mt-2">
                        {% csrf_token %}
                        <div class="input-group mb-3">
                            <select name="assistant_id" class="form-select">
                                <option value="">Select Assistant</option>
                                {% for assistant in assistants %}
                                    <option value="{{ assistant.assistant_id }}" {% if message.assistant_id == assistant.assistant_id %}selected{% endif %}>{{ assistant.system_role.role_name }}</option>
                                {% endfor %}
                            </select>
                            <button class="btn btn-outline-secondary" type="submit">Assign Assistant</button>
                        </div>
                    </form>
                    <!-- Delete Button Form -->
                    <form action="{% url 'delete_message' message.message_id %}" method="post">
                        {% csrf_token %}
                        <button type="submit" class="btn btn-danger" onclick="return confirm('Are you sure you want to delete this message?');">Delete</button>
                    </form>
                    <!-- Assuming you have access to `message.id` and `assistant.id` in your template -->
                    <form action="{% url 'run_message' message.message_id %}" method="post">
                        {% csrf_token %}
                        <input type="hidden" name="assistant_id" value="{{ message.assistant_id }}">
                        <button type="submit" class="btn btn-primary">Run Message</button>
                    </form>
                </div>
            {% endfor %}
        {% else %}
            <p>No messages found.</p>
        {% endif %}
    </div>
</div>
{% endblock %}